<!-- Footer -->
<footer class="mt-32 bg-gray-900 sm:mt-56" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <img src="/files/logo.svg" alt="Westwood" />
      <div class="rounded-lg p-6 text-white shadow-lg">
        <p class="mb-2 text-lg font-semibold">
          Westwood Software UG (haftungsbeschränkt)
        </p>
        <p class="mb-2">
          Schulstr. 30 <br />57638 Neitersen
        </p>
        <p class="text-sm">Geschäftsführer: Christian Rau</p>
      </div>
    </div>
  </div>
</footer>
